/* Import google fonts here */

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Universal selector */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background: url("./images/_1080266.jpg") no-repeat, top;
  background-attachment: fixed;
  background-size: contain;
}

h1 {
  color: #2280c4;
}
