/* Imported Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Roboto:400,700');

/* @MediaQueries */

/* Reset Box-Model */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("./images/_1080266.jpg") no-repeat, top;
  background-attachment: fixed;
  background-size: contain;
}

h1 {
  color: #17e31f;
  margin-left: 50px;
}
